.chart {
  margin: 33px 50px 0 0;
}
.chartWrapper {
  margin-top: 20px;
  padding: 10px;
  background: #2a2a2a;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px -7px rgba(31, 31, 31, 0.75);
  box-shadow: 5px 5px 20px -7px rgba(37, 37, 37, 0.75);
}
.lineChart{
  background-color: red;
}