.widgetLg {
  margin: 35px 50px;
}
.widgetLgWrapper {
  width: 250px;
  height: 280px;
  background-color: aquamarine;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px -7px rgba(31, 31, 31, 0.75);
  box-shadow: 5px 5px 20px -7px rgba(37, 37, 37, 0.75);
}
.widgetLgLogo{
    width: 250px;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    border-radius:10px;
    opacity: 0.6;
}